page-giving {

  .h{
height: 70px;
 background-color: #fff;
    text-align: center;
    font-family: home;
    color: #a00000;
    font-size: 17px;
   
     padding-top: -30px;
   
    top: 2%;
       
	}
    .name{
        color: #a00000;
        font-family: home;
    }

    .scroll-content{

align-content: center;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;

}

ion-content {
        background: #000 !important;
    }


}
