page-episode {

    ion-content {
        background-color: #000 !important;
    }

    ion-icon{
color: #fff;
}
.title{
    font-family: home;
}
    .player {
        margin-top: -0.35vh;
    }

    .style {
        color: #fff;
    }

    h6 {
        color: #fff;
        font-family: home;
    }
    h1{
        font-family: home;
    }

    .date {
        font-family: home;
        margin-top: -1vh;
    }

    p {
        font-family: home;
        padding: 0 20px 0 0px;
    }

}
