page-ministry-details {

    ion-content {
        background-color: #000 !important;
    }
    .title{
        font-family: home;
    }

    h1 {
        color: #fff;
        font-family: home;
    }

    .text {
        color: #fff;
        font-family: home;
        font-size: 14px;
        margin-top: 2vh;
    }

}
