page-connect {

    ion-content {
        background-color: #000 !important;
    }

    h1 {
        color: #fff;
        font-family: home;
    }
.title{
    font-family: home;
}
    .text {
        color: #fff;
        font-family: home;
        font-size: 14px;
        margin-top: 2vh;
    }

}
