page-weeklydeclaration {
  
      [text-color="mywhite"]{
        color:white;
    }

    ion-content {
        background-color: #000 !important;
    }
    .title{
      font-family: home;
      color: #901d78;
    }
.date{
  color: #901d78;
  font-family: home;
}
     //ion-title {
  //text-align: center;
  //font-size: 40px;
  //font-weight: 200;
  //font-family: regular;
  //color: #1da1f2;
 // }


  
    .border {
        border-radius: 2px 2px 2px 2px;
        box-shadow: #901d78;
        min-height: 145px;
      
    }

     .photo {
        min-height: 100px;
        max-height: 100px;
        margin-top: -18px;
        margin-left: -14%;
      }

    ion-card-content {
        background-color: #fff !important;
        max-height: 20px;
         //margin-top: -5vh;
       
    }

        ion-icon{
color: #fff;
}

    
 .price{
  color: #89959c;
    font-family: home;
    text-align: left;
    margin-left: -3%;
    font-size: 12px;
  }

     .title2 {
        //margin-top: -2vh;
        //color: #4d4d4d;
        color:#901d78;
        font-size: 20px;
        font-family: home;
         text-align: right;
         //margin-left: 90%;
    }

    .iconStyle {
   right: -1050%;
   color: #750013;
   position: absolute;
  //font-family: home;
  font-size: 12px;

    }

     .ActionText {
   right: -1050%;
   color: #750013;
   position: absolute;
  //font-family: home;
  font-size: 12px;

    }
}
