page-devotional {

      [text-color="mywhite"]{
        color:white;
    }

    ion-content {
        background-color: #000 !important;
    }
    ion-icon{
color: #fff;
}
     //ion-title {
  //text-align: center;
  //font-size: 40px;
  //font-weight: 200;
  //font-family: regular;
  //color: #1da1f2;
 // }

  
    .border {
        //border-radius: 10px 10px 10px 10px;
       // box-shadow: 1px 1px 1px 0px #901d78;
        min-height: 145px;
      
    }

     .photo {
        min-height: 100px;
        max-height: 100px;
        margin-top: -18px;
        margin-left: -14%;
      }

    ion-card-content {
        background-color: #fff !important;
        max-height: 20px;
         font-family: home;
         //margin-top: -5vh;
       
    }

    .title{
    font-family: home;
    }

   
 .price{
  color: #89959c;
     font-family: home;
    text-align: left;
    margin-left: -3%;
    font-size: 12px;
  }
.title{
  font-family: home;
}
     .title2 {
        //margin-top: -2vh;
        color: #901d78;
        //font-size: 20px;
        font-family: home;
        // text-align: right;
         //margin-left: 90%;
    }

    .iconStyle {
   right: -1050%;
   color: #1d2033;
   position: absolute;
  //font-family: home;
  font-size: 12px;

    }

     .ActionText {
   right: -1050%;
   color: #1d2033;
   position: absolute;
  //font-family: home;
  font-size: 12px;

    }
}
